/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300,@500,@700&family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;800&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  width: 1440px;
  /* height: 3860px; */
  font-family: Noto Sans Thai;
}
/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Noto Sans Thai", sans-serif;
} */
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 3860px;
}
.bg-blue {
  width: 1140px;
  height: 1017px;
  flex-shrink: 0;
  background: linear-gradient(13deg, #0e044b, #2c309b, #235ff6);
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  position: relative;
  z-index: 1;
}
.text-container {
  display: flex;
  background: none;
  align-items: flex-start;
  padding-left: 15%;
  flex-direction: column;
}
.text {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-size: 3rem;
  background: none;
  z-index: 3;
  position: relative;
  padding-top: 48px;
  margin-left: 8%;
  letter-spacing: 4px;
  text-shadow: -1px -1px 0px #6c71bd, 1px -1px 0px #6c71bd, -1px 1px 0px #6c71bd,
    1px 1px 0px #6c71bd;
}
.text-for {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  background: linear-gradient(176deg, #14db60, #aaffcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  z-index: 3;
  position: relative;
  margin-left: 8%;
  margin-top: 23.54px;
}
.text-Future {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(176deg, #14db60, #aaffcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  z-index: 3;
  position: relative;
  margin-left: 8%;
  letter-spacing: 2px;
}
.flexbox1 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 1px;
  width: 60%;
}
.text-conDay {
  display: block;
  box-sizing: border-box;
  width: 10%;
  background: none;
  padding-right: 1px;
  /* padding-top: 2%; */
}
.text-conMmYy {
  display: block;
  box-sizing: border-box;
  background: none;
  padding-left: 8%;
  /* padding-top: 2%; */
}

.text-24 {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  background: none;
  z-index: 3;
  letter-spacing: 4px;
}

.text-MmYy {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  background: none;
  z-index: 3;
  letter-spacing: 2px;
}
.line {
  width: 2.538px;
  height: 58.848px;
  border-radius: 30px;
  background-color: #14db60;
  position: absolute;
  margin-left: 5%;
  justify-content: first baseline;
  margin-top: -1.5%;
}
.text-at {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(176deg, #14db60, #aaffcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 1.5rem;
  /* margin-top: 2.5%; */
}
.img-low {
  background: url(img/low.png),
    #7b7b8b -319px -60.623px / 173.684% 311.277% no-repeat;
  width: 1140px;
  height: 348px;
  flex-shrink: 0;

  position: absolute;
  bottom: 19%;
  left: 0;
  right: 0;
  mix-blend-mode: soft-light;
  z-index: 2;
}
/* opacity: 0.6; */
.img-Rectangle-136-1 {
  background: url("img/Rectangle_136.png") no-repeat top right;
  width: 695.771px;
  height: 826.403px;
  opacity: 1.2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.img-Rectangle-136-2 {
  background: url("img/Rectangle_136.png") no-repeat top right;
  width: 695.771px;
  height: 826.403px;
  opacity: 1.2;
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 2;
}
.img-Rectangle-136-3 {
  background: url("img/Rectangle_136.png") no-repeat top right;
  height: 826.403px;
  opacity: 1.2;
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 2;
}
.img-Rectangle-136-4 {
  background: url("img/Rectangle_136.png") no-repeat top right;
  width: 695.771px;
  height: 826.403px;
  opacity: 1.2;
  position: absolute;
  top: 92px;
  right: 0;
  z-index: 2;
}
.img-Rectangle-134 {
  background: url("img/Rectangle_134.png") no-repeat top right;

  width: 658.62px;
  height: 807.755px;
  flex-shrink: 0;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
}
.img-Rectangle-141 {
  background: url("img/Rectangle_141.png") no-repeat top right;
  fill: linear-gradient(
    58deg,
    rgba(16, 22, 104, 0) 4.75%,
    rgba(24, 28, 117, 0) 13.7%,
    rgba(60, 220, 150, 0) 32.77%,
    rgba(63, 236, 153, 0.17) 57.16%,
    #57ff7c 79.37%
  );
  mix-blend-mode: color;
  width: 659.715px;
  height: 807.755px;
  flex-shrink: 0;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
}
.img-Rectangle-142 {
  background: url("img/Rectangle_142.png") no-repeat top right;
  fill: linear-gradient(
    202deg,
    rgba(255, 255, 255, 0) 63.99%,
    rgba(127, 165, 221, 0.67) 82.53%,
    #031689 100%
  );
  mix-blend-mode: color;
  width: 659.541px;
  height: 808.682px;
  flex-shrink: 0;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
}
.item-logo {
  display: block;
  box-sizing: border-box;
  width: 50%;
  background: none;
  padding-right: 1px;
  margin-top: 120.58px;
}
.img-log {
  background: url("img/logo.png");
  width: 775.4px;
  height: 32.65px;
  z-index: 2;
}
.flexbox2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 8%;
  width: 100%;
}
.text-conDay2 {
  display: block;
  align-items: center;
  box-sizing: border-box;
  width: 16%;
  background: none;
  padding-right: 1px;
}
.text-conDay3 {
  display: block;
  box-sizing: border-box;
  width: 50%;
  background: none;
  padding-right: 1px;
}
.text-time {
  font-family: "Noto Sans Thai", sans-serif;
  color: #fff;
  color: #100751;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  z-index: 3;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 50px;
  width: 188.272px;
  height: 25.862px;
}
.text-Pull {
  font-family: "Noto Sans Thai", sans-serif;
  color: #fff;
  background: none;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 2%;
  z-index: 3;
  letter-spacing: 1px;
  width: 100%;
  height: 25.862px;
}
.flexbox3 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 8%;
  padding-top: 5%;
  padding-bottom: 1px;
  width: 60%;
}
.text-item-header-th {
  display: block;
  box-sizing: border-box;
  width: 10%;
  background: none;
  padding-right: 1px;
  padding-bottom: 3%;
}
.text-header-th {
  font-family: "Noto Sans Thai", sans-serif;
  padding-left: 2%;
  background: none;
  z-index: 3;
  letter-spacing: 0.28px;
  height: 25.862px;
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.text-body-th {
  color: #bad0f2;
  background: none;
}
.text-body-th .text-body-ads-th {
  padding-bottom: 0.3%;
  background: none;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.bg-blue-lower {
  width: 1140px;
  height: 196px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #0b0f17 0%, rgba(0, 13, 56, 0) 100%);
  z-index: 3;
}
.flexbox4 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 16%;
  padding-top: 2%;
  padding-bottom: 1px;
  width: 60%;
}
.text-item-flexbox4 {
  display: block;
  box-sizing: border-box;
  width: 36%;
  background: none;
  padding-right: 1px;
  /* padding-top: 2%; */
}
.flexbox4 .text-item-flexbox4 .text-bold {
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  background: none;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px; /* 65.385% */
  letter-spacing: 0.52px;
}
.flexbox4 .text-item-flexbox4 .text-soft {
  color: #bad0f2;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  background: none;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 70.833% */
}
.flexbox5 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 9%;
  padding-top: 1%;
  padding-bottom: 1px;
  width: 60%;
}
.text-item-flexbox5 {
  display: block;
  box-sizing: border-box;
  width: 30%;
  background: none;
  padding-right: 1px;
  /* padding-top: 2%; */
}
.flexbox5 .text-item-flexbox5 .text-soft {
  color: #bad0f2;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  background: none;
}
.flexbox6 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 18%;
  padding-top: 1%;
  padding-bottom: 1px;
  width: 60%;
}
.btn-item-flexbox5 {
  background: none;
  width: 300px;
  height: 57.879px;
}
.btn-sum {
  width: 300px;
  height: 57.879px;
  border-radius: 8px;
  background: linear-gradient(177deg, #0bb64c, #27d96b);
  color: #fff;
  border: none;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 61.538% */
  letter-spacing: 0.26px;
}
.flexbox7 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1px;
  width: 1138px;
}
.text-flexbox7-header-th {
  display: block;
  box-sizing: border-box;
  width: 30%;
  background: none;
  /* padding-top: 2%; */
}
.text-flexbox7-header-green {
  display: block;
  box-sizing: border-box;
  padding-left: 4%;
  width: 25%;
  background: none;
  /* padding-top: 2%; */
}
.text-flexbox7-ads-th {
  display: block;
  box-sizing: border-box;
  padding-left: 2%;
  width: 25%;
  background: none;
  /* padding-top: 2%; */
}
.text-flexbox7-ads {
  color: #1d1a73;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  letter-spacing: 0.36px;
}
.text-flexbox7-ads-green {
  color: #0cc553;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0.36px;
}

.diamond {
  width: 10.933px;
  height: 10.933px;
  transform: rotate(-45deg);
  background: #25df6c;
}
.diamond-flexbox8 {
  display: block;
  box-sizing: border-box;
  width: 1%;
  background: none;
  padding-top: 2%;
  margin-right: 2%;
}
.text-flexbox8-start {
  color: #262e3f;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 969px;
}
.flexbox8 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1px;
  width: 1138px;
}

.bg-blue-soft {
  width: 1140px;
  height: 837px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #eef7ff 0%, #f3fbff 68.38%);
  margin-top: 5%;
}

.flexbox9 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 4%;
  padding-top: 5%;
  padding-bottom: 1px;
  width: 1138px;
  align-items: center;
}
.header-lineproflie {
  display: block;
  box-sizing: border-box;
  width: 3%;
  height: 10%;
  background: none;
}
.line-proflie {
  width: 8px;
  height: 44px;
  background-color: #14db60;
  border-radius: 30px;
}
.line-text {
  background: none;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  background: linear-gradient(179deg, #0e044b 0%, #2c309b 54.45%, #89e8fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flexbox-Pic {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 2%;
  padding-bottom: 1px;
  width: 1138px;
  align-items: center;
}
.header-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 33.33%;
  height: 10%;
  background: none;
}
.pf1 {
  background: url("img/proflie/pf1.png");
  width: 145.705px;
  height: 183.058px;
}
.pf2 {
  background: url("img/proflie/pf2.png") no-repeat top right;
  width: 145.705px;
  height: 175.565px;
}
.pf3 {
  background: url("img/proflie/pf3.png") no-repeat top right;
  width: 145.705px;
  height: 183.058px;
}
.pf4 {
  background: url("img/proflie/pf4.png") no-repeat top right;
  width: 145.7px;
  height: 162.57px;
}
.pf5 {
  background: url("img/proflie/pf5.png") no-repeat top right;
  width: 145.705px;
  height: 183.058px;
}
.pf6 {
  background: url("img/proflie/pf6.png") no-repeat top right;
  width: 145.705px;
  height: 183.058px;
}
.asd {
  background: url("img/proflie/Group14.png") no-repeat top right;
  width: 348px;
  height: 728px;
  position: absolute;
  right: 6%;
  opacity: 0.4;
  z-index: 0;
  top: 43.1%;
}
.flexbox10 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-bottom: 1px;
}
.text-name-pf1 {
  color: #1f2883;
  font-family: "Noto Sans Thai", sans-serif;
  background: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 58.333% */
  letter-spacing: -0.24px;
  width: calc(100%);
  text-align: center;
  margin-bottom: 2%;
}
.text-un-pf1 {
  color: #359eff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
  background: none;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.18px;
  width: calc(100%);
  text-align: center;
  margin-bottom: 2%;
}
.text-com-pf1 {
  color: #262e3f;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 17px;
  background: none;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  width: calc(100%);
  text-align: center;
  margin-bottom: 2%;
}
.flexbox-Pic-text {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 8%;
  padding-bottom: 1px;
  width: 30%;
}
.text-pic {
  display: block;
  box-sizing: border-box;
  width: 26.33%;
  height: 10%;
  background: none;
}
.bg-blue-schedule {
  width: 1084px;
  height: 114px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #eef7ff 0%, #f3fbff 68.38%);
  margin-top: 5%;
}
.bg-blue-schedule .flexbox9 {
  padding-top: 2.5%;
}
.bg-blue-soft-body {
  width: 1084px;
  height: 281px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #eef7ff 0%, #f3fbff 68.38%);
  margin-top: 0.3%;
}
.flexbox11 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 3%;
  /* margin-top: 15px; */
  width: 100%;
}
.flexbox-time {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 3%;
  margin-top: 3px;
  width: 100%;
}
.text-time1 {
  width: 29%;
  background: none;
  display: block;
  box-sizing: border-box;
}
.text-time2 {
  width: 100%;
  background: none;
  display: block;
  box-sizing: border-box;
}
.text1-time-flexbox10 {
  background: none;
  color: #c8ffd4;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.24px;
  text-align: left;
  width: calc(100%);
  padding-left: 15px;
  padding-right: 30px;
}
.text2-time-flexbox10 {
  background: none;
  line-height: 1;
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.24px;
  text-align: left;
  width: calc(100%);
  padding-left: 15px;
  padding-right: 30px;
  margin-top: 15.9px;
}
.text2-only-time-flexbox10 {
  background: none;
  line-height: 1;
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.24px;
  text-align: center;
  width: calc(100%);
  margin-top: 15.9px;
}
.bg-greem-time {
  width: 305px;
  height: 44px;
  border-radius: 100px;
  background: #0cc553;
}
.in-flexbox11 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 3%;
  margin-top: 15px;
  width: 100%;
}
.bg-blue-soft-body .flexbox8 .text-flexbox8-start {
  background: none;
  width: 100%;
  color: #262e3f;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px; /* 47.826% */
}
.bg-blue-soft-lower {
  width: 1084px;
  height: 96px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #eef7ff 0%, #f3fbff 68.38%);
  margin-top: 0.3%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.bg-blue-soft-lower .flexbox11 .in-flexbox11 {
  margin-top: -4%;
}
.bg-blue-soft-lower .flexbox11 .text-time1 {
  width: 21%;
}
.bg-blue-soft-lower .flexbox11 .text-time2 {
  width: 100%;
}

.bg-blue-soft-lower .bg-greem-time {
  width: 248px;
  height: 44px;
}
.bg-blue-soft-lower .flexbox11 .in-flexbox11 .text2-time-flexbox10 {
  letter-spacing: 0.24px;
  text-align: left;
  line-height: 49px;
}
.bg-blue-soft-lower .text-flexbox8-start {
  line-height: 49px;
}
.bg-blue-lower-loc {
  width: 1084px;
  height: 290px;
  border-radius: 20px;
  background: linear-gradient(183deg, #5d97e3, #0c2192);
  margin-top: 39px;
}
.flexbox-pic-gps {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 42px;
  margin-top: 53.03px;
  width: 100%;
  height: 31%;
}
.item-flexbox-gps {
  width: 81.656px;
  background: none;
  display: block;
  box-sizing: border-box;
}
.pic-icon-gps {
  background: url("img/Gps/icon.png");
  width: 81.656px;
  height: 81.656px;
}
.item-flexbox-gps-text {
  width: 53%;
  background: none;
  display: block;
  box-sizing: border-box;
  padding-left: 3%;
}

.text-flexbox-gps1 {
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.text-flexbox-gps2 {
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px; /* 184.375% */
  letter-spacing: 0.32px;
}
.flexbox-text-gg-gps {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 42px;
  margin-top: 15.03px;

  width: 100%;
}
.bg-blue-gg {
  width: 344px;
  height: 68px;
  border-radius: 45px;
  background: #359eff;
}
.text-bg-gg {
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.3px;
  width: calc(100%);
  text-align: center;
}
.flexbox-pic-holt {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 42px;
  margin-top: 53.03px;
  width: 100%;
}
.pic-holt {
  background: url("img/Gps/holt.png");
  width: 304px;
  height: 250px;
  margin-left: 86px;
  margin-top: 95px;
}
.bg-gif {
  width: 1109px;
  height: 345px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 1px solid #34ea67;
  border-right: 1px solid #34ea67;
  border-bottom: 1px solid #34ea67;
  filter: drop-shadow(0px 2px 20px rgba(65, 115, 174, 0.25));
}
.flexbox-pic-gif {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 88px;
  margin-top: 60px;
  width: 100%;
}
.flexbox-pic-gif .header-lineproflie {
  width: 25%;
  background: linear-gradient(179deg, #0e044b 0%, #2c309b 54.45%, #89e8fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gif1 {
  background: url("img/gif/ipad.png");
  width: 87px;
  height: 73.35px;
}
.gif2 {
  background: url("img/gif/watch.png");
  width: 92.2px;
  height: 84.82px;
}
.gif3 {
  background: url("img/gif/at.png");
  width: 169px;
  height: 27.21px;
}
.bg-gif .flexbox10 {
  padding-left: 93.63px;
  padding-top: 32.18px;
}
.bg-gif .flexbox-Pic {
  padding-left: 96.36px;
}
.bg-gif .header-pic {
  justify-content: flex-start;
}
.bg-gif .text-name-pf1 {
  text-align: left;
  color: #262e3f;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 53.846% */
  letter-spacing: -0.26px;
}
.bg-gif .text-un-pf1 {
  text-align: left;
  margin-top: 30px;
  color: #6f7788;
  font-family: Noto Sans Thai;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 63.636% */
  letter-spacing: 0.44px;
}
.bg-sum-lower {
  width: 1140px;
  height: 196px;
  background: linear-gradient(
    0deg,
    #c1e9ff 1.72%,
    rgba(255, 255, 255, 0.96) 71.08%,
    rgba(255, 255, 255, 0) 100%
  );
}
.bg-sum-lower .text-container {
  display: flex;
  background: none;
  padding-left: 0%;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.bg-sum-lower .flexbox4 .text-bold {
  color: #0c2292;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px; /* 65.385% */
  letter-spacing: 0.52px;
}
.bg-sum-lower .flexbox4 .text-soft {
  color: #6e7788;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 70.833% */
}
.bg-sum-lower .flexbox5 .text-soft {
  color: #262e3f;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.bg-sum-lower .flexbox6 .btn-sum {
  width: 500px;
  height: 59px;
  border-radius: 8px;
  background: linear-gradient(177deg, #0bb64c, #27d96b);
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 61.538% */
  letter-spacing: 0.26px;
}
.bg-sum-lower .text-item-flexbox4 {
  width: 43%;
}
.bg-sum-lower .flexbox5 {
  padding-left: 5%;
}
.bg-sum-lower .flexbox6 {
  padding-left: 8%;
  padding-top: 0%;
}
.bg-phone {
  width: 1140px;
  height: 67px;
}
.flexbox-phone {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 14px;
  margin-bottom: 29px;
  padding-left: 176px;
  width: 100%;
}
.item-text-phone1 {
  display: block;
  box-sizing: border-box;
  width: 33.33%;
  background: none;
}
.item-text-phone2 {
  display: block;
  box-sizing: border-box;
  width: 24.33%;
  background: none;
}
.item-text-phone3 {
  display: block;
  box-sizing: border-box;
  width: 33.33%;
  background: none;
  padding-left: 14px;
}
.text-phone-icon {
  display: block;
  box-sizing: border-box;
  width: 5%;
  background: none;
}
.icon-phone {
  background: url("img/ic_phone.png");
  width: 44.03px;
  height: 44.03px;
}
.text-phone1 {
  color: #6e7788;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px; /* 50% */
  width: 100%;
}
.text-phone2 {
  color: #3138a0;
  font-family: Noto Sans Thai;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 58.333% */
  width: 100%;
  margin-left: 15.97px;
}
.text-phone3 {
  color: #3138a0;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 91.667% */
  letter-spacing: 0.48px;
  width: 100%;
}
